div {
    max-width: 90%;
    align-items: center;
    margin: 0 auto;

}

.nasa-photo-wrapper {
    margin: 50px;
    padding: 30px;
    border: 2px solid black;

}
p {
    font-size: 2rem;
    text-align: center;
},

h1 {
    font-size: 6rem;
    max-width: 80%;
    align-items: center;
}

h3 {
    font-size: 3.5rem;
    max-width: 80%;
    align-items: center;
}

img {
    max-height: 90%;
    max-width: 80%;
    justify-content: center;
}